DNSPY_LOG_LEVEL=WARNING

DNSPY_LOCAL_IP=127.0.0.1
DNSPY_LOCAL_PORT=5053

DNSPY_UPSTREAM_IP=8.8.8.8
DNSPY_UPSTREAM_PORT=53


DNSPY_PLUGINS_PRE=["Example.hello_world","Example.hello_world_1"]
DNSPY_PLUGINS_POST=["Example.hello_world_2","QueryLog.log"]

DNSPY_PLUGINS_EXAMPLE_MESSAGE="hello DNS"